/ / $('[data-slider]').on('change.fndtn.slider', function(){
/ /  $('.range-slider-handle').text($('[data-slider]').attr('data-slider')); 
/ / });

/ / $('.something').hover(function() {
/ /   $this.append( $( "<span> ***</span>" ) );
/ / });

/ $('body').append('Some new text');